/* Tag residental area ahead */
body {
  margin: 0;
  background-color: #000000;
}

a {
	text-decoration: none;
}

i {
  padding-left: 2px;
  padding-right: 7px;
}


h1 {
	font-family: 'Questrial', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Biryani', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  padding: 0px;
  margin: 0px;
  
}

h3 {
  font-family: '', sans-serif;
  font-size: 20px; 
}

img {
  float: left;
  padding-right: 10px; 
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

nav {
  width: 100%;
  height: 60px;
  position: sticky;
  overflow: hidden;
  top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav a {
	float: right;
	display: flex;
	color: white;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 6px;
  text-align: center;
}

nav a:hover {
  height: 19px;
  margin-top: 12px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #09152371;
}
/* */

/* Class residental area ahead */
.text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  top: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  word-break: break-word;
  color: white;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #091523bb;
  object-fit: contain;
  overflow: hidden;
  vertical-align: middle;
}

.download {
  color: white;
  border-radius: 5px;
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #00c6ff, #0072ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 8px;
  display: inline-block;
  text-shadow: 2px 2px 3px black;
  overflow: hidden;
}

.download:hover {
  cursor: pointer;
  background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* */

/* ID residental area ahead */
#nav_title {
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 3px;
  padding: 15px;
  height: 20px;
  border-radius: 50px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
	background-color: #09152371;
	float: left;
}

#nav_active {
  height: 19px;
  margin-top: 12px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #091523bb;
}

#nav_active:hover {
	background-color: #09152394;
}

#nav_youtube:hover {
	background-color: #FF000081;
}

#nav_twitch:hover {
	background-color: #9146FF81;
}

#code {
  background-color: #38383881;
  border-left: 6px solid #26704681;
  padding: 10px 10px;
  padding-left: 10px;
  color: white;
  font-size: 17px;
  display: inline-block;
  font-family: monospace;
  font-weight: lighter;
}

#tag1 {
  background: -webkit-linear-gradient(#457fca, #5691c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
