/* Tag residental area ahead */
body {
	margin: 0;
  background-color: #1e263d;
  background-image: url("https://lh3.googleusercontent.com/jy2lrEw9wO7qL29w1MMH_KBNab76wYXBDmGCIwXM7g5EZux7QSQEDYhzDvVz1pRM18sut3qkSstBX7-xTNfoq-3pvVS76pIAa4p5eXB1o5WBqoXCRigHCW1RYhG3rDg61WRM6gS-Cb8gf4CJ7rr3w4sjo_glbRitYc6ii8Jm-6w1gVjiZsZ95ipBRrES0gqbREbrUmRVkr0rZHBOncwG4eLXPPu7RKe-dsC5OI6ihQtOENdgBYws60f91nB_obsCL82Wspd_gCfV9pzbsT78kPfX1l23V5DZLkCu3ZADLOA7lIKNYlnouw2B3wMNeR-eRA7YPew7PXmRg1QmmTLiXa00WP42NO8qQg8VaFfKXMqT8Y541MigSh8BkChrA7-ol8MAdD2eo5kup5wXXqjsb_tn_dDTVGJaT1M_gu4PSGh5n3Ik0sUbtQXBIRKmhZj3_IpY34afFY-SjrVSnOJqO6kSCzg0ccJpAxJYdaPhuLVvtB9TZIu9CM6gx1toId6qSF6oaBRn99Lm0-p2dlU8u9RtbntxpY_6vXGzV0wRb7q2zqXD9a__yH2MS4wy8iMlm_CxJ26FS5XfHqLC0DeW7Ba5uuSBd16M3uxXnzxuplojTRcqqbDWurXgGjo33rJu7OkS-m09A4ObN-lyRQ2SeboBCB4fiNYUY3gonRVDTr9Z37gKZBFiPuk=s654-no");
	
}

a {
	text-decoration: none;
}


h1 {
	font-family: 'Questrial', sans-serif;
  font-size: 45px;
}

h2 {
  font-family: 'Biryani', sans-serif;
  font-size: 35px;
}

h3 {
  font-family: '', sans-serif;
  font-size: 23px; 
}

nav {
  height: 50px;
  background-color: #1c324d81;
  background: -webkit-linear-gradient(-zzdeg, #1c324d81, #1f346b81);
  background: linear-gradient(-90deg, #1c324d81, #1f346b81);
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

nav a {
	float: right;
	display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px;
	color: white;
}

nav a:hover {
	background-color: #2f825381;
}
/* */

/* Class residental area ahead */
.text {
  top: 0%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  word-break: break-word;
  font-weight: lighter;
  color: white;
}

.text_font {
  font-family: 'Lato', sans-serif;
}

.button {
  border: 1px ridge #2b6cad;
  border-radius: 7px;
  background-color: #2e70b3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  padding: 15px 27px;
  font-weight: lighter;
}

.button:hover {
  text-decoration: underline;
}
/* */

/* ID residental area ahead */
#nav_title {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  height: 40px;
  font-family: 'Questrial', sans-serif;
	background-color: #091521;
	float: left;
}

#nav_active {
	background-color: #23664081;
}

#nav_active:hover {
	background-color: #26704681;
}

#nav_youtube:hover {
	background-color: #FF000081;
}

#nav_twitch:hover {
	background-color: #9146FF81;
}

#code {
  background-color: #38383881;
  border-left: 6px solid #26704681;
  padding: 10px 10px;
  padding-left: 10px;
  color: white;
  font-size: 17px;
  display: inline-block;
  font-family: monospace;
  font-weight: lighter;
}

#text_box {
  padding: 7px 2px;
}

#it_o {
  font_style: oblique;
}
