/* Tag residental area ahead */
body {
  margin: 0;
  background-color: #1e263d;
}

a {
	text-decoration: none;
}


h1 {
	font-family: 'Questrial', sans-serif;
  font-size: 45px;
}

h2 {
  font-family: 'Biryani', sans-serif;
  font-size: 35px;
}

h3 {
  font-family: '', sans-serif;
  font-size: 23px; 
}

nav {
  width: 100%;
  height: 60px;
  background-color: #1c324d81;
  background: -webkit-linear-gradient(-zzdeg, #1c324d81, #1f346b81);
  background: linear-gradient(-90deg, #1c324d81, #1f346b81);
  position: sticky;
  overflow: hidden;
  top: 0;
  
  font-family: 'Roboto Condensed', sans-serif;
 
}

nav a {
	float: right;
	display: flex;
  margin-top: 17px;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 12px;
	color: white;
}

nav a:hover {
	background-color: #2f825381;
}
/* */

/* Class residental area ahead */
.text {
  top: 0%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  word-break: break-word;
  font-weight: lighter;
  color: white;
}

.text_font {
  font-family: 'Lato', sans-serif;
}

.button {
  border: 1px ridge #2b6cad;
  border-radius: 7px;
  background-color: #2e70b3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  padding: 15px 27px;
  font-weight: lighter;
}

.button:hover {
  text-decoration: underline;
}
/* */

/* ID residental area ahead */
#nav_title {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  height: 40px;
  font-family: 'Questrial', sans-serif;
	background-color: #091521;
	float: left;
}

#nav_active {
	background-color: #23664081;
}

#nav_active:hover {
	background-color: #26704681;
}

#nav_youtube:hover {
	background-color: #FF000081;
}

#nav_twitch:hover {
	background-color: #9146FF81;
}

#code {
  background-color: #38383881;
  border-left: 6px solid #26704681;
  padding: 10px 10px;
  padding-left: 10px;
  color: white;
  font-size: 17px;
  display: inline-block;
  font-family: monospace;
  font-weight: lighter;
}

#text_box {
  padding: 7px 2px;
}

#it_o {
  font_style: oblique;
}
